doctype html
html(lang="en")
    include Header.pug
    link(rel="stylesheet", href="icons/css/all.min.css ")
    body.bg-fMain 
        include Navigate.pug 
        include MovieCard.pug
        div(class="flex gap-4")
        if type == "video"
            +MovieCard(
                data.duration,
                data.time_uploaded,
                data.thumbnail,
                data.author,
                data.title,
                data.url,
                ['mp4'],
                data.views,
                type
                )
        else 
            div(class="flex w-cardRow  gap-4 flex-wrap mx-auto")
                -for (let i = 0; i< 16; i++)
                    if data[i] !== undefined
                        +MovieCard(
                        data[i].duration,
                        data[i].time_uploaded,
                        data[i].thumbnail,
                        data[i].author,
                        data[i].title,
                        data[i].url,
                        ['mp4'],
                        data[i].views,
                        type
                        )





    script. 
        const data=!{JSON.stringify(data)};
    script(src="dist/download.bundle.js") 