doctype html
html(lang="en")
    include Header.pug
    link(rel="stylesheet", href="icons/css/all.min.css ")
    body.bg-fMain 
        -const videoFormats = ['video:mp4','video:webm','video:avi','video:mkv','video:flv','video:wmv','video:mov','video:m4v','video:3gp','video:asf','video:m2ts','video:ts','video:hevc','video:vp9']
        -const audioFormats = ['audio-only:mp3','audio-only:aac','audio-only:ogg','audio-only:wav','audio-only:wma','audio-only:flac','audio-only:alac','audio-only:opus','audio-only:vorbis','audio-only:pcm','audio-only:dts']
        include Navigate.pug 
        include OptionsSection.pug
        include MovieCard.pug
        div(class="flex gap-4")

        if type == "video"
            +MovieCard(
                data.duration,
                data.time_uploaded,
                data.thumbnail,
                data.author,
                data.title,
                data.url,
                videoFormats.concat(audioFormats),
                data.views,
                type
                )
        else 
            div(class="flex w-cardRow  gap-4 flex-wrap mx-auto" id="cardsContainer")
                -for (let i = 0; i< 16; i++)
                    if data[i] !== undefined
                        +MovieCard(
                        data[i].duration,
                        data[i].time_uploaded,
                        data[i].thumbnail,
                        data[i].author,
                        data[i].title,
                        data[i].url,
                        videoFormats.concat(audioFormats),
                        data[i].views,
                        type
                        )





    script. 
        const videosJson=!{JSON.stringify(data)};
    script(src="dist/download.bundle.js") 