doctype html
html(lang="en")
    include Header.pug
    body.bg-fMain
        -const videoFormats =['video:MP4','video:MKV','video:AVI','video:M4V','video:MOV','video:WMV','video:MPEG-1','video:MPEG-2','video:MPEG-4','video:H.264','video:H.265','video:VP8','video:VP9','video:Theora']
        -const audioFormats = ['audio:AAC','audio:AC3','audio:DTS','audio:DTS-HD','audio:E-AC3','audio:FLAC','audio:MP3','audio:Opus','audio:TrueHD','audio:Vorbis']
        include Navigation.pug 
        include OptionsSection.pug
        include MovieCard.pug
        if type == "video"
            div(class="flex justify-center w-full")
                +MovieCard(
                    data.duration,
                    data.time_uploaded,
                    data.thumbnail,
                    data.author,
                    data.title,
                    data.url,
                    videoFormats.concat(audioFormats),
                    data.views,
                    type
                    )
        else 
            div(class="flex w-cardRow  gap-4 flex-wrap mx-auto" id="cardsContainer")
                -for (let i = 0; i< 16; i++)
                    if data[i] !== undefined
                        +MovieCard(
                        data[i].duration,
                        data[i].time_uploaded,
                        data[i].thumbnail,
                        data[i].author,
                        data[i].title,
                        data[i].url,
                        videoFormats.concat(audioFormats),
                        data[i].views,
                        type
                        )





    script. 
        const videosJson=!{JSON.stringify(data)};
        const dataType= '!{type}'
    script(src="dist/download.bundle.js") 