html 
    include Header.pug 
    body
        include Navigation.pug
    script. 
        const videosJson=!{JSON.stringify(data)};
        const dataType= '!{type}'
    script(src="/dist/watchprogress.bundle.js" defer) 
